from GhostVLAD_mris.configs.base_debug import *

from dpipe.train.policy import Constant
from GhostVLAD_mris.nets import ResNet_agg
from dpipe.train.logging import log_scalar_or_vector
from GhostVLAD_mris.resources import get_params_string

# train_ids = split[0][0]
# val_ids = split[0][1]
# test_ids = split[0][2]

# training
batch_size = 3

device = 'cuda'
n_epochs = 80
lr = Constant(1e-5)
emb_dim = None
architecture = ResNet_agg(n_classes, emb_dim=emb_dim).to(device)
